# vscode
.vscode/

# Intellij
*.iml
.idea/

# npm
node_modules/

# Migrated ignore list to 'dist' folder
# main.js

# Exclude sourcemaps
*.map

# obsidian
data.json

# Exclude macOS Finder (System Explorer) View States
.DS_Store

# Lockfiles
yarn.lock
package-lock.json
pnpm-lock.yaml
